
$pri_clr : #FC64B0;
$sec_clr : #7ebefc;
$blue-clr: #4087e1;
$light_clr : #ffffff;
$pri_bg : #272c33;
$sec_bg : #2f363f;
$hover_bg : #3a434e;
$dark-clr: #1b1b1c;
$light_bg : #ffffff;
$dark-bg: #1c2024;
$grey_clr: #848e9c;
$green-clr: #016a2b;


