@import "../base/variables";
@import "../base/base";


.main-content{
    font-size: 16px;
    .content-box{
         background-image: url('../../images/city_cover.webp');
         .content-ser{
            .form-control{
               margin: 20px;
               padding: 30px;
               border-radius: 20px;
               .form-inline{
                   font-size: 1rem;
                input{
                    padding: 20px 10px;
                    border-radius: 10px;
                    border: none;
                    background-color: rgb(238, 238, 238);
                    margin-left: 10px;
                }
                button{
                    background-color: $pri_clr;
                    padding: 20px 40px;
                    border-radius: 10px;
                    margin: 0px 10px;
                    border: none;
                }
               }
            }
         }
    }
    .content{
        .content-review{
            .icon{
                width: 50px;
                height: 50px;
                display: grid;
                place-content: center;
            }
        }
    }
    .content-card{
        .card{
            .icon{
                width: 30px;
                height: 30px;
                display: grid;
                place-content: center;
                i{
                    font-size: 0.9rem;
                }
            }
        }
    }
}
.btn{
    padding: 10px 15px;
    border-radius: 30px;
    color: $light-clr;
    background-color: $pri_bg;
}
.btn-1{
    padding: 5px 15px;
    border-radius: 15px;
}
.btn-2{
    padding: 15px 40px;
    border-radius: 15px;
}
.bg-grey{
    background-color: rgb(241, 241, 241);
}
header {
    .header-content {
        width: 100%;
        max-width: 1440px;
        padding: 16px 32px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-cta{
            .btn{
                padding: 10px 15px;
                border-radius: 30px;
                color: $light-clr;
            }

        }
    }
}



.main-footer {
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;

    .footer-body {
        width: 100%;
        // display: flex;
        // justify-content: space-between;
        padding: 20px 32px 32px 24px;
        color: #848e9c;
        p {
            font-size: 0.95rem;
        }

        .playstore-icons {
            display: flex;
            width: 100%;
            justify-content: space-between;

            a {
                width: 30%;

                img {
                    width: 100%;
                    border: 1px solid white;
                    border-radius: 5px;
                }
            }
            .social-icons {
                display: flex;
                i{
                    font-size: 2rem;
                    margin-right: 5px;
                }
            }
        }
    }
}


// Responsive query

@media (min-width: 1920px) {
    .main-content {
        max-width: 1800px;
    }
    .header-content{
        max-width: 1800px;
    }
}
